.select
{
    width: 300px;
    margin-left: 530px;
}
h1
{
    font-weight: bold;
    font-size: 45px;
}
.button
{
    margin-top: 50px;
    border: 2px solid black;
    width: 250px;
    height: 200px;
    border-radius: 15px;
}